/* Import the desired font from google */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/* resets */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* end of resets */

/* Properties */
:root {
    --font-body: 15px;
    --font-body-mobile: 12px;

    /* Colours */
    /* Primary */
    --full-slider-bar: hsl(174, 77%, 80%);
    --slider-background: hsl(174, 86%, 45%);
    --discount-background: hsl(14, 92%, 95%);
    --discount-text: hsl(15, 100%, 70%);
    --cta-text: hsl(226, 100%, 87%);

    /* Neutral */
    --pricing-component-background: hsl(0, 0%, 100%);
    --main-background: hsl(230, 100%, 99%);
    --empty-slider-bar: hsl(224, 65%, 95%);
    --toggle-background: hsl(223, 50%, 87%);
    --body-text: hsl(225, 20%, 60%);
    --text-and-cta-background: hsl(227, 35%, 25%);
}

/* Do these later */
/* @media (prefers-color-scheme: dark) {
    :root {
        --body-bg: black;
        --body-fg: white;
    }
} */

/* general rules */
body {
    font-family: 'Manrope', sans-serif;
    font-size: var(--font-body-mobile);
    font-weight: 600;
    color: var(--body-text);
    background-image: url('../images/bg-pattern.svg');
    background-repeat: no-repeat;
    background-size: 100% 50%;
    background-color: var(--main-background);
    height: 100vh;
}

@media screen and (min-width: 376px) {
    body {
        font-size: var(--font-body);
    }
}
