@page "/"

@using PricingComponent.Components

<div class="content-main">
    <div class="page-title">
        <h1>Simple, traffic-based pricing</h1>
        <div>
            <span>Sign-up for our 30-day trial.</span>
            <span>No credit card required.</span>
        </div>
    </div>

    <PricingCard></PricingCard>

</div>

@code {
}